<?xml version="1.0"?>

<model>
  <name>betaflight_x3</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Carlos Aguero</name>
    <email>caguero@openrobotics.org</email>
  </author>

  <author>
    <name>Cole Biesemeyer</name>
    <email>cole@openrobotics.org</email>
  </author>

  <description>X3 UAV model with IMU and altimeter sensors for the Betaflight Gazebo bridge.</description>
</model>
